:root {
	--primary: #c0eef2;
	--secondary: #537fe7;
	--tertiary: #181823;
}

navbar {
	display: block;
}
a .nav-link {
	color: var(--primary);
}
.d-flex input {
	border-radius: 20px;
	background-color: var(--tertiary);
}
.d-flex input:focus,
.d-flex input:hover {
	border-color: var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 0px 0px 5px var(--primary);
}
.d-flex button[type='submit'] {
	background-color: green;
	border-radius: 50%;
	color: var(--primary);
	opacity: 20%;
}
.d-flex button[type='submit']:hover {
	background-color: green;
	box-shadow: 0px 0px 5px var(--secondary);
	opacity: 100%;
}

/*  */
.navbar-brand {
	color: var(--secondary);
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

/* NAVBAR CSS */

.body {
	background-color: whitesmoke;
}
.content-wrap h2 {
	margin: 40px;
	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	height: fit-content;
	border-radius: 20px;
}

.content-wrap {
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

/* BODY CSS */

#define {
	position: relative;
	text-align: center;
}

#define img {
	width: 100%;
	height: 36rem;
}

#define .image-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	padding: 20px;
	color: var(--tertiary);
	text-align: left;
}
.mail-link,
.contact {
	width: 50%;
	display: flex;
	text-align: left;
}
#define .image-overlay .mail-link h5 {
	width: 50%;
	font-size: larger;
	font-weight: bolder;
	height: fit-content;
}

#define .image-overlay .contact p {
	width: 50%;
	font-size: smaller;
	font-weight: lighter;
	height: fit-content;
}
#define h4 {
	color: var(--secondary);
	margin-bottom: 20px;
}

#define button {
	background-color: var(--tertiary);
	color: #e9f8f9;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}
/* DEFINE CSS */
#about {
	text-align: left;
	color: var(--tertiary);
	padding: 50px;
	display: flex;
}
.aboutme-text {
	width: 50%;
	text-align: left;
}
.aboutme-text h3 {
	background-color: var(--primary);
	border-radius: 20px;
	padding-left: 20px;
	color: var(--secondary);
}
.aboutme-text p,
.aboutme-text h6,
.aboutme-text a {
	padding: 20px;
}

.aboutme-pic {
	width: 50%;
	text-align: center;
}
.aboutme-pic h2 {
	color: var(--tertiary);
}

.aboutme-pic img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px var(--secondary);
}
.aboutme-pic h3 {
	color: var(--secondary);
}

.aboutme-pic p {
	color: var(--primary);
	font-size: 16px;
	padding: 10px;
}
/* ABOUT CSS */

#skills {
	text-align: right;
	color: var(--primary);
	padding: 50px;
	display: flex;
	background-color: var(--tertiary);
	border-radius: 5px;
}
.skills-text {
	width: 50%;
	text-align: right;
}
.skills-text h3 {
	background-color: var(--primary);
	padding-right: 20px;
	color: var(--secondary);
	border-radius: 20px;
}
.skills-text p,
.skills-text h6,
.skills-text a {
	padding: 20px;
}

.skills-pic {
	width: 50%;
	text-align: center;
}
.skills-pic h2 {
	color: var(--tertiary);
}

.skills-pic .video {
	width: 80%;
	height: 300px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 1px;
	box-shadow: 0px 0px 10px var(--secondary);
}
.skills-pic h3 {
	color: var(--secondary);
}

.skills-pic p {
	color: var(--primary);
	font-size: 16px;
	padding: 10px;
}
/* SKILLS CSS */

#services {
	color: var(--tertiary);
	display: flex;
	justify-content: center;
	background-color: var(--tertiary);
	border-radius: 5px;
}
/* .card {
	color: var(--secondary);
	background-color: #537fe7;
	justify-content: left;
	margin: 5px;
} */
.a-box {
	display: inline-block;
	width: 240px;
	text-align: center;
	margin: 20px;
}

.img-container {
	height: 230px;
	width: 200px;
	overflow: hidden;
	border-radius: 0px 0px 20px 20px;
	display: inline-block;
}

.img-container img {
	transform: skew(0deg, -13deg);
	height: 250px;
	margin: -35px 0px 0px -70px;
}

.inner-skew {
	display: inline-block;
	border-radius: 20px;
	overflow: hidden;
	padding: 0px;
	transform: skew(0deg, 13deg);
	font-size: 0px;
	margin: 30px 0px 0px 0px;
	background: var(--primary);
	height: 250px;
	width: 200px;
}

.text-container {
	box-shadow: 0px 0px 10px 0px var(--secondary);
	padding: 120px 20px 20px 20px;
	border-radius: 20px;
	background: var(--primary);
	margin: -120px 0px 0px 0px;
	line-height: 19px;
	font-size: 14px;
}

.text-container h3 {
	margin: 20px 0px 10px 0px;
	color: var(--secondary);
	font-size: 18px;
}
/* .card .bit {
	font-size: 50px;
	display: flex;
	flex-basis: auto;
	background: #000;
}

.card-title {
	color: var(--primary);
	flex-basis: auto;
	margin: 2px;
} */
/* 
.card-text {
	color: var(--primary);
	margin: 2px;
} */

/* .card .btn {
	font-size: 50px;
	flex-basis: auto;
	background: #ffff;
} */

/* .card .btn:hover {
	background-color: var(--secondary);
	color: var(--primary);
	cursor: pointer;
}
/* SERVICES CSS */
#projects {
	color: var(--secondary);
	padding: 20px;
	text-align: center;
	width: 100%;
}
#projects h2 {
	margin: 40px;
	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	height: fit-content;
	border-radius: 20px;
}

.carousel {
	width: 100%;
	background-color: var(--tertiary);
}
.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	color: var(--tertiary);
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-inner {
	height: fit-content;
	align-items: center;
	color: var(--secondary);
	margin: auto;
}
.carousel-caption {
	color: var(--tertiary);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	visibility: var(--primary);
	background-color: var(--primary);
}

.carousel-indicators {
	bottom: 10px;
	color: var(--tertiary);
}

.carousel-indicators li {
	background-color: var(--secondary);
	border-color: var(--primary);
}

.carousel-indicators .active {
	background-color: var(--primary);
}

/* PROJECT CSS */

#contact {
	width: 100%;
	background-color: var(--tertiary);
	color: var(--primary);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

#contact h5 {
	text-align: center;
	margin: 30px;
}
.list-nav {
	display: flex;
	justify-content: center;
}
#contact i {
	font-size: 30px;
	margin: 20px;
}
.small {
	font-weight: lighter;
	text-align: center;
	margin: 10px;
	opacity: 80%;
}
#contact button {
	width: 150px;
	height: 50px;
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: 5px;
}
#contact h2 {
	text-align: center;
}

#contact a {
	color: var(--secondary);
}

#contact p {
	margin-bottom: 0;
}

#contact .myinfo {
	display: flex;
	justify-content: center;
}
/* CONTACT CSS */
#map {
	height: 400px; /* The height is 400 pixels */
	width: 100%; /* The width is the width of the web page */
}
/* Map */

footer .copyright {
	text-align: center;
	background-color: var(--tertiary);
	color: var(--primary);
	padding: 10px;
	margin: 0;
}
/* FOOTER CSS */
