:root {
	--primary: #c0eef2;
	--secondary: #537fe7;
	--tertiary: #181823;
}

navbar {
	display: block;
}
a .nav-link {
	color: var(--primary);
}
.d-flex input {
	border-radius: 20px;
	background-color: var(--tertiary);
}
.d-flex input:focus,
.d-flex input:hover {
	border-color: var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 0px 0px 5px var(--primary);
}
.d-flex button[type='submit'] {
	background-color: green;
	border-radius: 50%;
	color: var(--primary);
	opacity: 20%;
}
.d-flex button[type='submit']:hover {
	background-color: green;
	box-shadow: 0px 0px 5px var(--secondary);
	opacity: 100%;
}

/*  */
.navbar-brand {
	color: var(--secondary);
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

/* NAVBAR CSS */

.body {
	background-color: whitesmoke;
}
/* BODY CSS */

#define {
	position: relative;
	text-align: center;
}

#define img {
	width: 100%;
	height: 36rem;
}

#define .image-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	padding: 20px;
	color: var(--tertiary);
	text-align: left;
}
.contact {
	font-size: x-small;
	width: 50%;
	height: fit-content;
	display: flex;
	text-align: left;
}

#define h4 {
	color: var(--secondary);
	margin-bottom: 20px;
}

#define button {
	background-color: var(--tertiary);
	color: #e9f8f9;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}
/* DEFINE CSS */
#about {
	text-align: left;
	color: var(--tertiary);
	padding: 50px;
	display: flex;
}
.aboutme-text {
	width: 50%;
	text-align: left;
}
.aboutme-text h3 {
	background-color: var(--primary);
	border-radius: 20px;
	padding-left: 20px;
	color: var(--secondary);
}
.aboutme-text p,
.aboutme-text h6,
.aboutme-text a {
	padding: 20px;
}

.aboutme-pic {
	width: 50%;
	text-align: center;
}
.aboutme-pic h2 {
	color: var(--tertiary);
}

.aboutme-pic img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0px 0px 10px var(--tertiary);
}
.aboutme-pic h3 {
	color: var(--secondary);
}

.aboutme-pic p {
	color: var(--primary);
	font-size: 16px;
	padding: 10px;
}
/* ABOUT CSS */

#skills {
	text-align: right;
	color: var(--tertiary);
	padding: 50px;
	display: flex;
}
.skills-text {
	width: 50%;
	text-align: right;
}
.skills-text h3 {
	background-color: var(--primary);
	padding-right: 20px;
	color: var(--secondary);
	border-radius: 20px;
}
.skills-text p,
.skills-text h6,
.skills-text a {
	padding: 20px;
}

.skills-pic {
	width: 50%;
	text-align: center;
}
.skills-pic h2 {
	color: var(--tertiary);
}

.skills-pic img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0px 0px 10px var(--tertiary);
}
.skills-pic h3 {
	color: var(--secondary);
}

.skills-pic p {
	color: var(--primary);
	font-size: 16px;
	padding: 10px;
}
/* SKILLS CSS */

#services {
	color: var(--secondary);
	text-align: center;
	padding: 20px;
}
#services h2 {
	margin: 40px;

	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	height: fit-content;
	border-radius: 20px;
}
#services .line-up {
	display: flex;
	justify-content: center;
	height: 150px;
	width: 100%;
}

.card {
	width: 100%;
	color: var(--tertiary);
	box-shadow: 0 4px 8px 0 var(--secondary);
	border-radius: 5px;
	padding-top: 20px;
	margin: 10px;
	text-align: center;
}
.card .bi-check-circle-fill {
	font-size: 60px;
	width: 10px;
	border-radius: 20px;
	color: var(--secondary);
	position: absolute;
	margin-left: 20px;
}

.card-title {
	text-align: left;
	margin-left: 20%;
	padding-left: 10px;
	width: 100%;
	position: absolute;
}

.card-text {
	text-align: left;
	margin-top: 30px;
	margin-left: 20%;
	padding-left: 10px;
	position: absolute;
	width: 60%;
}

.card .btn {
	position: absolute;
	right: 0;
	top: auto;
	font-size: 50px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

/* .card .btn:hover {
	background-color: var(--secondary);
	color: var(--primary);
	cursor: pointer;
} */
/* SERVICES CSS */
#projects {
	color: var(--secondary);
	padding: 20px;
	text-align: center;
	width: 100%;
}
#projects h2 {
	margin: 40px;
	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	height: fit-content;
	border-radius: 20px;
}

.carousel {
	width: 60%;
	background-color: var(--tertiary);
	margin-left: 20%;
}
.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	color: var(--tertiary);
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-inner {
	height: fit-content;
	align-items: center;
	color: var(--secondary);
	margin: auto;
}
.carousel-caption {
	color: var(--tertiary);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	visibility: var(--primary);
	background-color: var(--primary);
}

.carousel-indicators {
	bottom: 10px;
	color: var(--tertiary);
}

.carousel-indicators li {
	background-color: var(--secondary);
	border-color: var(--primary);
}

.carousel-indicators .active {
	background-color: var(--primary);
}

/* PROJECT CSS */
#contact {
	padding: 50px;
	color: var(--tertiary);
	text-align: center;
	/* position: relative; */
}

#contact h2 {
	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	height: fit-content;
	border-radius: 20px;
	margin: 40px;
}

#contact form {
	color: var(--secondary);
	width: 50%;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px var(--secondary);
	text-align: left;
	font-weight: bold;
}

#contact label,
#contact input[type='text'],
#contact input[type='email'],
#contact textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10;
	border-color: var(--secondary);
	border-radius: 40px;
	/* box-sizing: border-box; */
	resize: none;
	overflow: hidden;
}

#contact input[type='submit'].clear {
	background-color: red;
	opacity: 20%;
	width: 20%;
	text-align: center;
}
#contact input[type='submit'] {
	width: 75%;
	padding: 15px;
	background-color: blue;
	opacity: 20%;

	color: #e9f8f9;
	font-size: 18px;
	border: none;
	border-radius: 45px;
	cursor: pointer;
}

#contact input[type='submit'].clear:hover {
	opacity: 100%;
	background-color: red;
}

#contact input[type='submit']:hover {
	opacity: 100%;
	background-color: blue;
}
/* CONTACT CSS */

footer {
	background-color: var(--tertiary);
	color: var(--secondary);
	padding: 40px 0;
}

footer h5 {
	color: var(--secondary);
	font-weight: bold;
	margin-bottom: 20px;
}

footer a {
	color: var(--secondary);
}

footer p {
	margin-bottom: 0;
}

.copyright {
	text-align: center;
	margin-top: 40px;
}
